@inherits LayoutComponentBase

<MudPopoverProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (!string.IsNullOrEmpty(currentEndpoint))
            {
                <span>@currentEndpoint</span>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    private IJSRuntime JS { get; set; } = default!;

    private string? currentEndpoint;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var endpoint = await JS.InvokeAsync<string?>("localStorage.getItem", "wpEndpoint");
        if (endpoint != currentEndpoint)
        {
            currentEndpoint = endpoint;
            if (!firstRender)
            {
                StateHasChanged();
            }
        }
    }
}
