.preview-image {
  border: 5px solid purple;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.preview-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.wp-size-previews img {
  display: block;
  max-width: 100%;
}

/* Hide all details except the main preview image */
#file-input,
.d-flex.align-items-center.gap-2.mb-3,
.progress,
table.table,
.wp-size-previews {
  display: none;
}
